.update-notice-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-notice-box {
    padding: 40px 40px 20px 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.update-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    color: white;
    background: linear-gradient(0deg, rgba(77, 54, 208, 1) 0%, rgba(132, 116, 254, 1) 100%);
    border: none;
    border-radius: 20em;
    padding: 5px 20px;
    margin: 20px 0 10px 0;
}

.update-button:hover {
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
}

.update-button:focus {
    outline: none;
    text-shadow: 1px 0px black;
}